<div class="well">
  <blockquote>
    <p>{{#link-to 'question' question.id}}{{question.query}}{{/link-to}}</p>
    <footer>{{question.author}}</footer>
  </blockquote>
  {{#if thisShouldShow}}
  <div class="well">
    <p>{{{question.notes}}}</p>
  </div>
  {{/if}}
  {{update-question question=question updateQuestion="updateQuestion"}}
  <button {{action 'delete' question}}>Delete</button>
</div>
