<div class="well">
  <blockquote>
    <p>
      {{#if showLink}}
        {{#link-to 'question' question.id}}
          {{question.query}}
        {{/link-to}}
      {{else}}
        {{question.query}}
      {{/if}}
    </p>
    <footer>{{question.author}}</footer>
  </blockquote>
  {{#if showNotes}}
  <div class="well">
    <p>{{{question.notes}}}</p>
  </div>
  {{/if}}
  {{update-question question=question updateQuestion="updateQuestion"}}
  <button {{action 'delete' question}}>Delete</button>
</div>
